In [352]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [353]:
nypd_df = pd.read_csv('NYPD_Shooting_Incident_Data__Year_To_Date_.csv')
nypd_df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column,Borough Boundaries,City Council Districts,Police Precincts,Zip Codes,Community Districts
0,243566884,04/12/2022,22:08:00,BRONX,OUTSIDE,49,0,STREET,(null),Y,...,1020669,255027,40.866590,-73.868328,POINT (-73.86832754 40.86658962),5.0,22.0,32.0,11605.0,59.0
1,256484816,12/17/2022,04:08:00,BRONX,OUTSIDE,52,0,STREET,(null),N,...,1008387,253290,40.861864,-73.912739,POINT (-73.91273918 40.86186421),5.0,29.0,34.0,11606.0,24.0
2,250216145,08/27/2022,00:21:00,BRONX,OUTSIDE,44,0,VEHICLE,(null),N,...,1008878,244480,40.837683,-73.910994,POINT (-73.910994 40.837683),5.0,42.0,27.0,10935.0,50.0
3,239207164,01/15/2022,19:50:00,QUEENS,OUTSIDE,113,2,HOUSING,MULTI DWELL - PUBLIC HOUS,N,...,1044794,188802,40.684689,-73.781699,POINT (-73.781699 40.684689),3.0,46.0,71.0,24669.0,41.0
4,248013313,07/14/2022,01:19:00,BROOKLYN,INSIDE,77,0,DWELLING,MULTI DWELL - APT BUILD,N,...,1002013,185752,40.676508,-73.935960,POINT (-73.93596 40.676508),2.0,49.0,49.0,17615.0,16.0

In [354]:
nypd_df.shape

(1716, 26)

In [355]:
nypd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   INCIDENT_KEY              1716 non-null   int64
 1   OCCUR_DATE                1716 non-null   object
 2   OCCUR_TIME                1716 non-null   object
 3   BORO                      1716 non-null   object
 4   LOC_OF_OCCUR_DESC         1716 non-null   object
 5   PRECINCT                  1716 non-null   int64
 6   JURISDICTION_CODE         1716 non-null   int64
 7   LOC_CLASSFCTN_DESC        1716 non-null   object
 8   LOCATION_DESC             1716 non-null   object
 9   STATISTICAL_MURDER_FLAG   1716 non-null   object
 10  PERP_AGE_GROUP            1716 non-null   object
 11  PERP_SEX                  1716 non-null   object
 12  PERP_RACE                 1716 non-null   object
 13  VIC_AGE_GROUP             1716 non-null   object
 14  VIC_SEX                   1716 non-null   object
 15  VIC_RACE                  1716 non-null   object
 16  X_COORD_CD                1716 non-null   int64
 17  Y_COORD_CD                1716 non-null   int64
 18  Latitude                  1706 non-null   float64
 19  Longitude                 1706 non-null   float64
 20  New Georeferenced Column  1706 non-null   object
 21  Borough Boundaries        1706 non-null   float64
 22  City Council Districts    1706 non-null   float64
 23  Police Precincts          1706 non-null   float64
 24  Zip Codes                 1702 non-null   float64
 25  Community Districts       1706 non-null   float64
dtypes: float64(7), int64(5), object(14)
memory usage: 348.7+ KB

In [356]:
nypd_df.describe()

,INCIDENT_KEY,PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Borough Boundaries,City Council Districts,Police Precincts,Zip Codes,Community Districts
count,1.716000e+03,1716.000000,1716.000000,1.716000e+03,1716.000000,1706.000000,1706.000000,1706.000000,1706.000000,1706.000000,1702.000000,1706.000000
mean,2.473174e+08,62.143939,0.256993,1.009361e+06,211612.167249,40.747534,-73.909232,3.424971,30.020516,38.359906,14435.745006,37.158851
std,4.938591e+06,28.591294,0.662914,1.771978e+04,32124.441132,0.088154,0.063932,1.292636,13.342154,17.545266,3713.507109,20.265712
min,2.385312e+08,1.000000,0.000000,9.295100e+05,127539.000000,40.516572,-74.196874,1.000000,1.000000,1.000000,10099.000000,1.000000
25%,2.435664e+08,42.000000,0.000000,1.000149e+06,184263.000000,40.672298,-73.942282,2.000000,22.000000,25.000000,11275.000000,18.000000
50%,2.472748e+08,60.000000,0.000000,1.008230e+06,210147.000000,40.743483,-73.913502,3.000000,33.000000,35.000000,13095.000000,41.000000
75%,2.507528e+08,79.000000,0.000000,1.016861e+06,241412.000000,40.829286,-73.882155,5.000000,42.000000,51.000000,17215.000000,54.000000
max,2.611902e+08,123.000000,2.000000,1.059828e+06,269204.000000,40.905479,-73.727478,5.000000,51.000000,77.000000,24671.000000,71.000000

In [357]:
study_data= nypd_df.iloc[:, [0,1,3,4,7,8,9,10,11,12,13,14,15,18,19,23]]
study_data.mean()

C:\Users\ibrah\AppData\Local\Temp\ipykernel_16652\2265882284.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  study_data.mean()

INCIDENT_KEY        2.473174e+08
Latitude            4.074753e+01
Longitude          -7.390923e+01
Police Precincts    3.835991e+01
dtype: float64

In [363]:
print(np.std(study_data))

INCIDENT_KEY        4.937152e+06
Latitude            8.812845e-02
Longitude           6.391289e-02
Police Precincts    1.754012e+01
dtype: float64

C:\Users\ibrah\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [358]:
#df1.replace('(null)',0, inplace=True)
#df1

In [359]:
study_data.shape

(1716, 16)

In [360]:
study_data.describe()

       INCIDENT_KEY     Latitude    Longitude  Police Precincts
count  1.716000e+03  1706.000000  1706.000000       1706.000000
mean   2.473174e+08    40.747534   -73.909232         38.359906
std    4.938591e+06     0.088154     0.063932         17.545266
min    2.385312e+08    40.516572   -74.196874          1.000000
25%    2.435664e+08    40.672298   -73.942282         25.000000
50%    2.472748e+08    40.743483   -73.913502         35.000000
75%    2.507528e+08    40.829286   -73.882155         51.000000
max    2.611902e+08    40.905479   -73.727478         77.000000

In [361]:
borough = study_data['BORO']
avg = np.mean('INCIDENT KEY')

TypeError: cannot perform reduce with flexible type

In [ ]:
study_data['BORO'].hist(bins=5, edgecolor= 'black')
plt.xlabel('Borough')
plt.ylabel('Number of Shooting Incidents')
plt.title('NYPD Shooting Incidents by Borough')
plt.show()

In [ ]:
# Convert OCCUR_DATE column to datetime type
df1['OCCUR_DATE'] = pd.to_datetime(df1['OCCUR_DATE'])

# Extract the year from OCCUR_DATE column
df1['YEAR'] = df1['OCCUR_DATE'].dt.year
df1['YEAR']

In [ ]:
df1['MONTH'] = df1['OCCUR_DATE'].dt.month
df1_monthly_sorted = df1.sort_values('MONTH')
df1_monthly_sorted

In [ ]:
months_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
               7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}

In [ ]:
# Group the dataframe by month and return the count of incidents per month
monthly_incident_count = df1_monthly_sorted.groupby('MONTH')['INCIDENT_KEY'].count().rename(months_dict)

print(monthly_inci_count)

In [ ]:
#colors= ['r','b','g','y','orange','purple','r','b','g','y']
monthly_inci_count.plot(kind='bar')
plt.style.use('ggplot')
plt.xlabel('Month')
plt.ylabel('Number of shooting incidents')
plt.title('SHOOTING INCIDENTS IN NYC BY MONTH IN 2022', fontsize = 13)
plt.show()

In [ ]:
"""
color=['r','b','g','y','orange','purple','r','b','g','y']
fig, ax = plt.subplots()
ax.bar(monthly_counts.index, monthly_counts.values, color=color)
ax.set_xticks(monthly_counts.index)
ax.set_xlabel('Month')
ax.set_ylabel('Number of shooting incidents')
ax.set_title('Shooting incidents in NYC by month')
"""

In [ ]:
# Group the dataframe by year and month and return the count of incidents per month
monthly_counts = df1.groupby([df1['OCCUR_DATE'].dt.year, df1['OCCUR_DATE'].dt.month])['INCIDENT_KEY'].count()
monthly_counts.index = pd.to_datetime(monthly_counts.index.to_flat_index().map(lambda x: '{}/{}'.format(*x)))

# Create a line chart of the monthly counts
fig, ax = plt.subplots()
ax.plot(monthly_counts.index, monthly_counts.values)
ax.set_xlabel('Year')
ax.set_ylabel('Number of shooting incidents')
ax.set_title('Trend of shooting incidents in NYC over time')

plt.show()

In [ ]:
# percentage count of shooting incidents by borough
borough_counts = df1.groupby('BORO')['INCIDENT_KEY'].count()
borough_counts

In [ ]:
borough_counts

# Create a pie chart of the precinct counts
fig, ax = plt.subplots()
ax.pie(borough_counts.values, labels=borough_counts.index, autopct='%1.1f%%', startangle=90)
ax.set_title('Distribution of shooting incidents in NYC by Borough')

plt.show()

In [ ]:
# Filter the dataframe to only include July incidents
july_incidents = df1[df1['OCCUR_DATE'].dt.month == 7]

# Group the filtered dataframe by borough and return the count of incidents per borough
july_count = july_incidents.groupby('LOC_CLASSFCTN_DESC')['INCIDENT_KEY'].count()
#july_sorted= july_counts.sort_values()
july_counts= july_count.reset_index().loc[:,['LOC_CLASSFCTN_DESC', 'INCIDENT_KEY']]
july_counts
july_incidents

In [ ]:
sns.barplot(x= july_counts['INCIDENT_KEY'], y = july_counts['LOC_CLASSFCTN_DESC'], data =july_counts,
            order = july_counts.sort_values('INCIDENT_KEY', ascending = False).LOC_CLASSFCTN_DESC,orient='h')

In [ ]:


# Extract the data we're interested in
lat, lon = df1['Latitude'], df1['Longitude']
race, victims= df1['Police Precincts'], df1['VIC_RACE']


# Scatter the points, using size and color but no label
plt.figure(figsize=(5,4))
plt.scatter(lon, lat, label=None,
            c=np.log10(race), cmap='viridis',
          linewidth=0, alpha=0.5)
plt.axis('equal')
plt.xlabel('longitude')
plt.ylabel('latitude')
plt.colorbar(label='log$_{10}$(race)')
plt.clim(3, 7) # colour limits

# Here we create the legend:
# we'll plot empty lists with the desired size and label
for area in [100, 300, 500]:
    plt.scatter([], [], c='k', alpha=0.3, s=area,
                label=str(area) + ' km$^2$')
plt.legend(scatterpoints=1, frameon=False, 
           labelspacing=1, title='City Area')

plt.title('California Cities: Area and Population');

In [ ]:
#july_incidents.loc[:,('PERP_SEX','PERP_RACE')].replace('(null)','UNIDENTIFIED', inplace=True)
july_incidents[['PERP_SEX','PERP_RACE']] = july_incidents[['PERP_SEX','PERP_RACE']].replace('(null)','UNIDENTIFIED')
july_incidents

In [ ]:
#race_counts = july_incidents.groupby(['LOC_CLASSFCTN_DESC','PERP_RACE'])['INCIDENT_KEY'].count().reset_index()
#race_counts

In [ ]:
race_counts = july_incidents.groupby(['VIC_RACE','VIC_SEX']).size().reset_index(name='count')
race_counts

In [ ]:
sns.barplot(x='VIC_RACE', y='count', hue='VIC_SEX', data =race_counts )
plt.xticks(rotation=45)

In [ ]:
pivoted= race_counts.pivot(index= 'VIC_RACE', columns='VIC_SEX',values='count').reset_index()
pivoted

In [ ]:
pivoted = pivoted.fillna(0)
pivoted

In [ ]:
sns.barplot(x='M', y= 'VIC_RACE', data= pivoted, color='blue', label= 'Male')
sns.barplot(x='F', y= 'VIC_RACE', data= pivoted, color='red', label= 'Female')

In [ ]:
sns.barplot(x='VIC_RACE', y= 'M', data= pivoted, color='blue', label= 'Male', orient='v')
sns.barplot(x='VIC_RACE', y= 'F', data= pivoted, color='red', label= 'Female', orient='v')
plt.xticks(rotation=45)

In [ ]:
#july_race_counts = race_counts.groupby('VIC_SEX')['INCIDENT_KEY'].count().reset_index()
#july_race_counts

In [ ]:
plt.figure(figsize=(10, 8))
sns.barplot(x='VIC_RACE', hue=[['F','M']], data=pivoted, orient='h')
plt.xticks(rotation=45)

In [ ]:
race_count1 = july_incidents.groupby(['PERP_RACE','PERP_SEX'])['INCIDENT_KEY'].count().reset_index()
race_count1

In [ ]:
plt.figure(figsize=(10, 8))
sns.barplot(x='PERP_RACE', y='INCIDENT_KEY', hue='PERP_SEX', data=race_count1,
            order=race_count1.sort_values('INCIDENT_KEY', ascending=False).PERP_RACE,orient='v')
plt.xticks(rotation=45)

In [ ]:
with sns.axes_style('white'):
    g = sns.catplot(x='VIC_RACE', data = july_race_counts, aspect=4.0, kind='count',
                    hue='VIC_SEX', height=3.5)
    g.set_ylabels('Number of Planets Discovered')

In [ ]:
sns.boxplot(x='INCIDENT_KEY', y='LOC_CLASSFCTN_DESC', hue='PERP_RACE', data=july_race_counts,
            order=july_race_counts.sort_values('INCIDENT_KEY', ascending=False).LOC_CLASSFCTN_DESC, orient='h')

In [ ]:
sns.barplot(x= race_counts['INCIDENT_KEY'], y = race_counts['PERP_RACE'], data =race_counts,
            order = race_counts.sort_values('INCIDENT_KEY', ascending = False).PERP_RACE, orient='h')

In [ ]:
# Create a bar chart of the July counts
fig, ax = plt.subplots()
ax.barh(july_counts.index,july_counts.values)
ax.set_xticklabels(july_counts.index, rotation=45)
ax.set_xlabel('Borough')
ax.set_ylabel('Number of shooting incidents')
ax.set_title('Shooting incidents in NYC in July by borough')